{% extends "base.html" %}

{% block extra_title %}Book Title list{% endblock %}

{% block content %}

<h1>Book Title list</h1>

<form action="" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit" class="px-3 py-2 bg-blue-500 text-white rounded-md">Send</button>
</form>
<ul>
    {% if books %}
        {% for book in books %}
            <li><a href="{% url 'book_title_detail_view' book.pk %}">{{ book.title }}</a></li>
        {% endfor %}
    {% else %}
        <li>No books found</li>
    {% endif %}
</ul>

{% endblock content %}

